@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900');



body
{
    font-family: Rubik,sans-serif!important;

    min-width: 935px!important;
    margin: 0;

    background: #edf1f5;
}
a,
button,
input
{
    outline: none;
}
select
{
    font-size: 14px;

    display: inline-block;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 250px;
    height: 32px;
    padding-right: 40px;
    padding-left: 12px;

    cursor: pointer;
    cursor: pointer;

    color: #221f1f;
    border: 1px solid #d2d2d2;
    border-radius: 4px;
    background-color: #fff;
    background-image: url(../images/select.png);
    background-repeat: no-repeat,repeat;
    background-position: right 12px center;
    background-size: 14px 7px;

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
:active,
:hover,
:focus
{
    outline: 0;
    outline-offset: 0;
}




.sidebar
{
    position: fixed;
    z-index: 999;

    width: 60px;
    height: 100%;
    padding-top: 0;

    -webkit-transition: .5s cubic-bezier(.55, .09, .68, .53);
         -o-transition: .5s cubic-bezier(.55, .09, .68, .53);
            transition: .5s cubic-bezier(.55, .09, .68, .53);

    background: #2f323e;
    -webkit-box-shadow: 1px 0 20px rgba(0, 0, 0, .08);
            box-shadow: 1px 0 20px rgba(0, 0, 0, .08);
}
.sidebar .sidebar-head
{
    font-size: 21px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 60px;

    background: #2f323e;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.sidebarActive
{
    width: 240px;
}
.sidebarActive .sidebar-head
{
    width: auto!important;
}
.sidebar .sidebar-head h3
{
    font-size: 21px;
    font-weight: 400;

    overflow: hidden;

    height: 24px;
    padding-left: 21px;

    color: #fff;
}
.sidebar .hide-menu
{
    margin-left: 4px;

    -webkit-transition: .3s;
         -o-transition: .3s;
            transition: .3s;

    opacity: 0;
}
.sidebarActive .hide-menu
{
    opacity: 1;
}
#menu div
{
    font-size: 21px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    background: #2f323e;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
#menu div a
{
    font-size: 17px;
    font-weight: 400;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;

    width: 100%;
    height: 65px;
    padding-left: 21px;

    text-decoration: none;

    color: #97999f;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
#menu div a:hover
{
    color: #fff;
}
#menu div a .hide-menu
{
    margin-left: 10px;
}
#menu div.active a
{
    color: #fff;
    background: #ff7676;
}




.page
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.wrapperPage
{
    position: relative;

    width: 840px;
    min-width: 840px;
    max-width: 840px;
    margin-left: 85px;
}
h2.page_header
{
    font-size: 16px;
    font-weight: 500;

    position: relative;

    margin-top: 0;
    margin-bottom: 0;
    padding: 20px 25px;
    padding-bottom: 35px;

    text-transform: uppercase;

    color: #313131;
    background: #fff;
}
.page p
{
    font-weight: 500;

    color: #666;
}
.page .table > div
{
    background: #fff;
}
.page .table .headerTable
{
    font-weight: 500;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;
    height: 50px;

    color: #666;
    border: none;

    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.page .table .headerTable > div
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    text-align: center;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.page .table .row
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;
    height: 70px;

    cursor: default;

    border-top: 1px solid #e4e7ea;

    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.page .table .row:hover
{
    cursor: pointer;

    background: #e2f3fb69;
}

.page .table .row > div
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    text-align: center;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.page .table .row p,
.page .table .row a
{
    font-weight: 400;

    text-decoration: none;

    color: #8d9ea7;
}
.page .table .row a:hover
{
    text-decoration: underline;
}




.wrapperCategories > div
{
    width: 250px;
    margin-left: 15px;
    padding: 10px;

    background: #fff;
}
.wrapperCategories h2
{
    margin-bottom: -5px;
    padding: 10px 15px;
}
.wrapperCategories .list
{
    padding-left: 15px;
}
.wrapperCategories .category .categoryName
{
    position: relative;

    margin: 5px 0;
}
.wrapperCategories .category > a
{
    font-weight: 500;

    padding: 5px 0;

    color: #666;
}
.wrapperCategories .category .categoryName span
{
    position: absolute;
    top: 0;
    right: 0;

    display: block;

    width: 15px;

    cursor: pointer;
    -webkit-transition: .4s;
         -o-transition: .4s;
            transition: .4s;
    text-align: center;
}
.wrapperCategories .category.active .categoryName span
{
    -webkit-transform: rotate(-270deg);
        -ms-transform: rotate(-270deg);
            transform: rotate(-270deg);
}

.wrapperCategories .category ul
{
    margin: 0;
    padding-left: 20px;
}
.wrapperCategories .category li
{
    overflow: hidden;

    height: 0;
    padding: 0;

    list-style: none;

    -webkit-transition: .4s;
         -o-transition: .4s;
            transition: .4s;

    opacity: 0;
}
.wrapperCategories .category.active li
{
    height: 25px;
    padding: 3px 0;

    opacity: 1;
}
.wrapperCategories .category a
{
    display: block;

    text-decoration: none;

    color: #666;
}





/* Сторінка проектів */
#projects
{
    width: 650px;
    min-width: 650px;
    max-width: 650px;
}
.show_new_project_modal
{
    font-size: 2rem;

    height: 55px!important;

    color: #8d9ea7;
}
#projects .table .domain
{
    width: 210px;
    padding-left: 20px;

    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
}
#projects .table .domain p
{
    max-width: 100%;

    word-wrap: break-word;
}
#projects .table .package
{
    width: 120px;
    padding: 0 5px;
}
#projects .table .package p
{
    max-width: 100%;

    word-wrap: break-word;
}
#projects .table .price
{
    width: 120px;
}
#projects .table .package p
{
    max-width: 100%;

    word-wrap: break-word;
}
#projects .table .status
{
    width: 90px;
}
#projects .operations
{
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
}
#projects .operations a
{
    font-size: 25px;
}





.modal .page_header
{
    position: relative;
}
.modal .page_header .close
{
    position: absolute;
    right: 10px;

    cursor: pointer;
}
.modal form input,
.modal form select,
.modal .screen_input
{
    font-size: 15px;
    font-size: 16px;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    height: 38px;
    margin-top: 5px;
    padding: 0 10px;

    cursor: pointer;
    -webkit-transition: all 300ms linear 0s;
         -o-transition: all 300ms linear 0s;
            transition: all 300ms linear 0s;

    color: #565656;
    border: 1px solid #e4e7ea;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.modal .screen_input
{
    line-height: 38px;
    position: absolute!important;
    border: none;
    background: inherit;
}





/* Новий проект */
.new_project_wrapper
{
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;

    display: none;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 100vh;
    padding: 15px;

    background: #00000080;
}
.new_project_wrapper.active
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
#new_project
{
    overflow-y: auto;

    width: 540px;
    min-width: 540px;
    max-width: 540px;
    min-height: 300px;
    max-height: 90%;
    margin: auto;

    background: #fff;
}
#new_project .page_header
{
    position: relative;
}
#new_project .page_header .close
{
    position: absolute;
    right: 10px;

    cursor: pointer;
}
#new_project form
{
    position: relative;

    margin-top: -10px;
    padding: 0 25px 20px;
}
#new_project form div
{
    width: 100%;
    position: relative;
}
#new_project form p
{
    font-size: 16px;
    font-weight: 500;

    overflow-x: hidden;

    margin: 0;
    margin-top: 5px;
    padding-top: 10px;

    text-transform: inherit;

    color: #313131;
}
#new_project form button
{
    font-size: 16px;
    font-weight: 600;
    line-height: 1.42857143;

    margin-top: 10px;
    margin-bottom: 0;
    padding: 6px 12px;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

    color: #fff;
    border: 1px solid #53e69d;
    border-radius: 4px;
    background: #53e69d;
    background-image: none;

    -ms-touch-action: manipulation;
        touch-action: manipulation;
}
#new_project form button:hover
{
    cursor: pointer;

    border-color: #4aca8a;
    background: #4aca8a;
}




/* Вікна вибору відділень/клієнтів */
.departments_modal_wrapper,
.customers_modal_wrapper
{
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;

    display: none;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 100vh;
    padding: 15px;

    background: #00000080;
}
.departments_modal_wrapper.active,
.customers_modal_wrapper.active
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
#departments_modal,
#customers_modal
{
    overflow: hidden;
    overflow-y: auto;

    width: 540px;
    min-width: 540px;
    max-width: 540px;
    max-height: 90%;
    margin: auto;

    background: #fff;
}
#departments_modal .page_header
#customers_modal .page_header
{
    padding-bottom: 25px;

    border-bottom: 1px solid #e4e7ea;
}
#departments_modal ul,
#customers_modal ul
{
    margin: 0;
    padding: 0;
}
#departments_modal ul li,
#customers_modal ul li
{
    display: block;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding: 10px 20px;

    list-style: none;

    cursor: default;

    border-bottom: 1px solid #e4e7ea;
}
#departments_modal ul li:hover,
#customers_modal ul li:hover
{
    cursor: pointer;

    background: #e2f3fb69!important;
}





/* Сторінка відділень */
#departments
{
    width: 720px;
    min-width: 720px;
}
#departments .show_new_department_modal 
{
    font-size: 2rem;
    height: 55px!important;
    color: #8d9ea7;
    cursor: pointer!important;
}
#departments .table .address
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 220px;
    padding-left: 20px;

    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
#departments .table .address p
{
    max-width: 100%;

    text-align: left;
    word-wrap: break-word;
}
#departments .table .site
{
    width: 220px;
}
#departments .table .site p
{
    max-width: 100%;

    word-wrap: break-word;
}
#departments .table .personnel
{
    width: 130px;
}
#departments .table .unfinished-projects
{
    width: 70px;
    padding-right: 20px;

    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
}





/* Новий клієнт */
.new_department_wrapper
{
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;

    display: none;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 100vh;
    padding: 15px;

    background: #00000080;
}
.new_department_wrapper.active
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
#new_department
{
    overflow-y: auto;

    width: 540px;
    min-width: 540px;
    max-width: 540px;
    min-height: 300px;
    max-height: 90%;
    margin: auto;

    background: #fff;
}
#new_department .page_header
{
    position: relative;
}
#new_department .page_header .close
{
    position: absolute;
    right: 10px;

    cursor: pointer;
}
#new_department form
{
    position: relative;

    margin-top: -10px;
    padding: 0 25px 20px;
}
#new_department form div
{
    width: 100%;
    position: relative;
}
#new_department form p
{
    font-size: 16px;
    font-weight: 500;

    overflow-x: hidden;

    margin: 0;
    margin-top: 5px;
    padding-top: 10px;

    text-transform: inherit;

    color: #313131;
}
#new_department form button
{
    font-size: 16px;
    font-weight: 600;
    line-height: 1.42857143;

    margin-top: 10px;
    margin-bottom: 0;
    padding: 6px 12px;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

    color: #fff;
    border: 1px solid #53e69d;
    border-radius: 4px;
    background: #53e69d;
    background-image: none;

    -ms-touch-action: manipulation;
        touch-action: manipulation;
}
#new_department form button:hover
{
    cursor: pointer;

    border-color: #4aca8a;
    background: #4aca8a;
}





/* Парйс лист */
#price-list
{
    width: 350px;
    min-width: 350px;
}
#price-list .category
{
    margin-top: 1px;
}
#price-list .category h2
{
    font-size: 14px;
    font-weight: 500;

    position: relative;

    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 25px;

    text-transform: uppercase;

    color: #313131;
    background: #fff;
}
#price-list .category h2 span.expandCategory
{
    position: absolute;
    top: 50%;
    right: 10px;

    display: block;

    width: 15px;

    cursor: pointer;
    -webkit-transition: .4s;
         -o-transition: .4s;
            transition: .4s;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
}
#price-list .category.active h2 span.expandCategory
{
    -webkit-transform: translate(-50%, -50%) rotate(-270deg);
        -ms-transform: translate(-50%, -50%) rotate(-270deg);
            transform: translate(-50%, -50%) rotate(-270deg);
}
#price-list .category > div
{
    overflow: hidden;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 0;
    padding: 0 25px;

    -webkit-transition: .4s;
         -o-transition: .4s;
            transition: .4s;

    opacity: 0;
    background: #edf1f526;
}
#price-list .category.active > div
{
    height: 52px;

    opacity: 1;
}
#price-list .category .name
{
    text-align: left;

    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
#price-list .category .name p
{
    max-width: 100%;

    text-align: left;
    word-wrap: break-word;
}
#price-list .category .price
{
    width: 90px;

    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
#price-list .category .price p
{
    max-width: 100%;

    word-wrap: break-word;
}





/* Персонал */
#personnel
{
    width: 570px;
    min-width: 570px;
    max-width: 570px;
}
#personnel .header
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    background: #fff;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
#personnel .header > div
{
    display: -moz-flex;
    display:  -ms-flex;
    display:   -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display:      flex;
}
#personnel .header select
{
    margin: auto;
    margin-right: 20px;
    margin-bottom: 30px;
}
#personnel .row.show_new_employee_modal 
{
    font-size: 2rem;
    height: 55px!important;
    color: #8d9ea7;
    cursor: pointer!important;
}
#personnel .row
{
    cursor: default!important;
}
#personnel .full-name
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 280px;
    padding-left: 20px;

    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
#personnel .full-name p
{
    max-width: 100%;

    text-align: left;
    word-wrap: break-word;
}
#personnel .position
{
    width: 190px;
    flex-grow: 2;
    justify-content: flex-end;
}
#personnel .operations
{
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
}
#personnel .operations a
{
    font-size: 25px;
}





/* Новий клієнт */
.new_employee_wrapper
{
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;

    display: none;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 100vh;
    padding: 15px;

    background: #00000080;
}
.new_employee_wrapper.active
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
#new_employee
{
    overflow-y: auto;

    width: 540px;
    min-width: 540px;
    max-width: 540px;
    min-height: 300px;
    max-height: 90%;
    margin: auto;

    background: #fff;
}
#new_employee .page_header
{
    position: relative;
}
#new_employee .page_header .close
{
    position: absolute;
    right: 10px;

    cursor: pointer;
}
#new_employee form
{
    position: relative;

    margin-top: -10px;
    padding: 0 25px 20px;
}
#new_employee form div
{
    width: 100%;
    position: relative;
}
#new_employee form p
{
    font-size: 16px;
    font-weight: 500;

    overflow-x: hidden;

    margin: 0;
    margin-top: 5px;
    padding-top: 10px;

    text-transform: inherit;

    color: #313131;
}
#new_employee form button
{
    font-size: 16px;
    font-weight: 600;
    line-height: 1.42857143;

    margin-top: 10px;
    margin-bottom: 0;
    padding: 6px 12px;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

    color: #fff;
    border: 1px solid #53e69d;
    border-radius: 4px;
    background: #53e69d;
    background-image: none;

    -ms-touch-action: manipulation;
        touch-action: manipulation;
}
#new_employee form button:hover
{
    cursor: pointer;

    border-color: #4aca8a;
    background: #4aca8a;
}





#customers
{
    width: 800px;
    min-width: 800px;
    max-width: 800px;
}
#customers .header
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    background: #fff;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
#customers .header > div
{
    display: -moz-flex;
    display:  -ms-flex;
    display:   -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display:      flex;
}
#customers .header select
{
    margin: auto;
    margin-right: 20px;
    margin-bottom: 30px;
}
#customers .row.show_new_customers_modal
{
    font-size: 2rem;

    height: 55px!important;

    color: #8d9ea7;
    cursor: pointer!important;
}
#customers .row
{
    cursor: default!important;
}
#customers .full-name
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 280px;
    padding-left: 20px;

    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
#customers .full-name p
{
    max-width: 100%;

    text-align: left;
    word-wrap: break-word;
}
#customers .phone
{
    width: 190px;
}
#customers .email
{
    width: 260px;
}
#customers .email p
{
    max-width: 100%;

    word-wrap: break-word;
}
#customers .operations
{
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
}
#customers .operations a
{
    font-size: 25px;
}





/* Новий клієнт */
.new_customer_wrapper
{
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;

    display: none;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 100vh;
    padding: 15px;

    background: #00000080;
}
.new_customer_wrapper.active
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
#new_customer
{
    overflow-y: auto;

    width: 540px;
    min-width: 540px;
    max-width: 540px;
    min-height: 300px;
    max-height: 90%;
    margin: auto;

    background: #fff;
}
#new_customer .page_header
{
    position: relative;
}
#new_customer .page_header .close
{
    position: absolute;
    right: 10px;

    cursor: pointer;
}
#new_customer form
{
    position: relative;

    margin-top: -10px;
    padding: 0 25px 20px;
}
#new_customer form div
{
    width: 100%;
    position: relative;
}
#new_customer form p
{
    font-size: 16px;
    font-weight: 500;

    overflow-x: hidden;

    margin: 0;
    margin-top: 5px;
    padding-top: 10px;

    text-transform: inherit;

    color: #313131;
}
#new_customer form button
{
    font-size: 16px;
    font-weight: 600;
    line-height: 1.42857143;

    margin-top: 10px;
    margin-bottom: 0;
    padding: 6px 12px;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

    color: #fff;
    border: 1px solid #53e69d;
    border-radius: 4px;
    background: #53e69d;
    background-image: none;

    -ms-touch-action: manipulation;
        touch-action: manipulation;
}
#new_customer form button:hover
{
    cursor: pointer;

    border-color: #4aca8a;
    background: #4aca8a;
}




.card_wrapper
{
    display: inherit;
}
.card_wrapper #customer_card,
.card_wrapper #project_card
{
    width: 610px;
    min-width: 610px;
    max-width: 610px;
    margin-bottom: 15px;
    padding-bottom: 5px;

    background: #fff;
}
.card_wrapper #projects
{
    width: 610px;
    min-width: 610px;
    max-width: 610px;
}
.card .page_header
{
    padding-bottom: 5px;
}
.card p
{
    margin: 0;
    padding: 5px 25px;
}
.card p span,
.card p a
{
    font-style: italic;

    color: #666;
}



.personnel_card_wrapper
{
    display: inherit;
}
.personnel_card_wrapper > div
{
    width: 610px;
    min-width: 610px;
    max-width: 610px;
}
.personnel_card_wrapper #personnel_card
{
    margin-bottom: 15px;
    padding-bottom: 5px;

    background: #fff;
}
.personnel_card_wrapper #projects
{
    width: 610px;
    min-width: 610px;
    max-width: 610px;
}
#personnel_card .page_header
{
    padding-bottom: 5px;
}
#personnel_card p
{
    margin: 0;
    padding: 5px 25px;
}
#personnel_card p span
{
    font-style: italic;
}
#accounting .premium
{
    width: 190px;
}
#accounting .allowances
{
    width: 190px;
}
#accounting .salary
{
    width: 190px;
}
